@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

* {
  /* font-size: calc(10px + 2vmin); */
  font-family: 'Iceberg', cursive;
  --primary: #ea5454;
  --secondary: #3A3A3A;
  --grey: #999999;
}

li {
  list-style: none;
}

button:hover {
  opacity: 80%;
}

/*
 * Scrollbar
 */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff7f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ea5454;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff6e6e;
}