@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

* {
  /* font-size: calc(10px + 2vmin); */
  font-family: 'Iceberg', cursive;
  --primary: #ea5454;
  --secondary: #3A3A3A;
  --grey: #999999;
}

button:hover {
  opacity: 80%;
}